.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  
}

.main {
  display: flex;
  justify-content: center;
}

.link {
  font: 700 16px/18px Roboto, arial, helvetica, sans-serif;
  text-decoration: none;
  text-align: center;
  color: black;
  width: 128px;
  height: 44px;
  margin: 0 30px 22px 0;
  border-radius: 37px;
  transition: 0.3s;
}

.link:hover {
  opacity: 0.7;
}

.link__active {
  background:  #f50057;
  color: white;
}