@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.buttons {
  display: flex;
  justify-content: flex-end;
}

.btn {
  font: 500 12px/14px Roboto, arial, helvetica, sans-serif;
  background: transparent;
  border: none;
}

.btn:focus {
  background: #f50057;
  border: none;
  border-radius: 23px;
  outline: none;
  color: white;
}
